body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}
header h1 {
    font-weight: bold;
    width: 300px;
    padding-top: 20px;
}
header nav {
    padding-top: 20px;
   position: relative;
   top: 20px;
    
}
header nav li {
    display: inline-block;
    padding-right: 10px ;
    font-weight: 900;
}
header {
    
    display: flex;
    justify-content: space-between;
}
body {
    width: 70%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}
.content {
    
}
.two {
   
}
img.align-right {
 float: right;
 margin-left: 5%;
 z-index: 1;
}
article.thisclass {
    position: relative;
    top: 160px;
    ;
}
article.otherclass {
    position: relative;
    top: 160px;
}
footer {
    position: relative;
    top: 233px;
    text-align: center;
    margin: auto 0;

}
ul li {
    display: inline-block;
    padding-right: 4%;
}
#projects {
    position: relative;
    top: 140px;
    
}
article.thisclass img {
    width: ;
    height: ;
    object-fit: tain;
    margin: 10px auto;
}
.container {
    margin: 0 auto;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.col img {
    max-width: 100%;
}
.turtlecontainer img {
    max-width: 100%;
}
#secondturtle {
    float: right;
    margin-left: 5%;
    position: relative;
    bottom: 0px;
    z-index: 0;
    display: none;

}