header h1 {
    font-weight: bold;
    width: 300px;
}
header nav {
    
   position: relative;
   top: 20px;
    
}
header nav li {
    display: inline-block;
    padding-right: 10px ;
    font-weight: 900;
}
header {
    
    display: flex;
    justify-content: space-between;
}
body {
    width: 70%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}
.content {
    
}
.two {
   
}
img.align-right {
 float: right;
 margin-left: 5%;
}
article.thisclass {
    posit: relative;
    to: 160px;
    ;
}
article.otherclass {
    position: relative;
    top: 160px;
}
footer {
    position: relative;
    top: 233px;
    text-align: center;
    margin: auto 0;

}
ul li {
    display: inline-block;
    padding-right: 4%;
}
#projects {
    display:flex;
    width: 50%;
    max-width: 100%;
}
article.thisclass img {
    width: auto;
    height: auto;
    object-fit: contain;
}
