body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}
header h1 {
    font-weight: bold;
    width: 50%;
    padding-top: 20px;
    padding-bottom: 10%;
}
header h1 #howdy {
    width: 50%;
}
#helloworld {
    line-height: 2;
    
}
#getthis {
    width: 50%;
}
header nav {
    padding-top: 2.5%;
   position: relative;
   top: 1.3%;
   width: 30%;
}
header nav li {
    display: inline-block;
    padding-right: 0.6% ;
    font-weight: 900;

}
header {
    
    display: flex;
   
    justify-content: space-between;
}
h2 {
    margin-top: 0;
}
body {
    width: 80%;
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}
.content {
    
}
.two {
   
}
div.turtlecontainer {
    margin: 0 0 0 0 ;
    max-width: 100%;
    padding: 0;
    
}
.turtlecontainer img {
    max-width: 100%;
    padding: 0;
    object-fit: contain;
    
}
img #firstturtle {
    width: 100%;
}
img #secondturtle {
    width:100%;
    object-fit: contain;
    max-width:100%;
}
.description {
    margin: 0 0  0 20%;
}
#content article {
  display: flex;
  justify-content: space-around;
}
img.align-right {
 /*float: right;
 margin-left: 5%;
 z-index: 1;*/
}
article.thisclass {
    position: relative;
    top: 10%;
    ;
}
article.otherclass {
    position: relative;
    top: 10%;
}
footer {
    position: relative;
    top: 15%;
    text-align: center;
    margin: auto 0;

}
ul li {
    display: inline-block;
    padding-right: 4%;
}
#projects {
    position: relative;
    top: 12%;
    
}
article.thisclass img {
   /* width: ;
    height: ;
    object-fit: tain;
    margin: 0.07% auto;*/
}
.container {
    margin: 0 auto;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
.col {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.col img {
    max-width: 100%;
}
.turtlecontainer img {
    max-width: 100%;
}
#secondturtle {
    
    
 
    display: none;

}